# Python

__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual

venv/
.venv/
env/
venv2/

# Django

*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Variáveis de ambiente

.env
.env.*
!.env.example

# IDE / Editores

.vscode/
.idea/

# Sistema operacional

.DS_Store
Thumbs.db

# Arquivos temporários

*.tmp
*.temp